<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body> 
    
    <main>
            <h1 >BEM VINDO AO SISTEMA DE VENDAS</h1>
            <p >como deseja acessar o sistema? </p><br>
            <a href="{{url_for('cadastrar')}}">
                <button type="submit" name="modo" value="cadastrar">cadastrar</button>
            </a><br>
            <a href="{{url_for('entrar')}}">
                <button type="submit" name="modo" value="entrar">entrar em uma conta</button>
            </a>  
    </main>
    
    
    
</body>
</html>