<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
{% include 'partials/header.html'%}
    <main>
        <h2>{{ item.product.name }}</h2>
        <p>Preço: {{ item.product.price }}</p>

        <form method="POST">
            <label>Quantidade:</label>
            <input type="number" name="quantity" value="{{ item.quantity }}">
            <button type="submit">Atualizar Quantidade</button>
        </form>

        <form method="POST">
            <input type="hidden" name="delete" value="1">
            <button type="submit">Remover do Carrinho</button>
        </form>
    </main>

</body>
</html>