<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    {% include 'partials/header.html'%}
    
    <main>
        <h1>{{usuario.nome}} - {{usuario.id}}</h1>
        <h1>{{usuario.email}}</h1>
        <a href="{{url_for('edit_user', cliente_id=usuario.id)}}">editar nome de usuario</a>
        <form action="{{ url_for('deletar_conta') }}" method="POST" onsubmit="return confirm('Tem certeza que quer apagar sua conta?')">
            <button type="submit">Apagar Conta</button>
        </form>
    </main>

</body>
</html>